# RTC Related
config MTK_RTC
	bool "MediaTek Real Time Clock Support"
	default n
	---help---
	  MediaTek RTC driver
config RTC_AUTO_PWRON
        bool "RTC Auto Power On Alarm by PMICs"
        default n
        help
          Support for the auto power on alarm on alarm booting supporting PMICs.
          Say Y if you want to enable this feature.

