#
# Samsung Electronics TOUCH driver configuration
#

if INPUT_TOUCHSCREEN

config TOUCHSCREEN_SEC_TS_Y661
        tristate "Samsung Electronics Touchscreen"
        depends on I2C
        help
          Say Y here if you want support for SEC touchscreen controllers.

config TOUCHSCREEN_SEC_TS_GLOVEMODE
        tristate "Samsung Electronics Touchscreen"
        depends on I2C
        help
          Say Y here if you have a Samsung Electronics Touchscreen and want to enable
          support for the built-in touchscreen.

endif
